<div *ngIf="message && message['text']" class="alert alert-{{message.type}}">show:{{message.text}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div class="form-label-group">
    <input [ngClass]="{'is-invalid' : form.get('email').invalid && form.get('email').touched}" type="email" id="inputEmail" class="form-control"
      placeholder="Email address" formControlName="email" autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" [ngClass]="{'is-invalid' : form.get('password').invalid && form.get('password').touched}"
      formControlName="password">
    <label for="inputPassword">Password</label>
  </div>

  <div class="invalid-feedback" *ngIf="form.get('email').invalid && form.get('email').touched">Введите корректный e-mail</div>
  <div class="invalid-feedback" *ngIf="form.get('password').invalid && form.get('password').touched">Введите корректный пароль</div>


  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

</form>